# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://jatinsolanki1106_db_user:Wfy7X9oXKE3j1hKq@cluster0.vel9bcc.mongodb.net/

# JWT Secret (generate a strong random string for production)
JWT_SECRET=v09FJhtwGy06U8cB6Aox2XMHGMMSx8Jh2rRaVolv2NA

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:5173
